<a href="https://colab.research.google.com/github/aaguil8a/sales_predictions/blob/main/sales_predictionsipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd 
import numpy as np

filename = '/content/sales_predictions (1).csv'
df = pd.read_csv(filename)

df.head(30)
# df.tail(50)

   Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0            FDA15        9.300  ...  Supermarket Type1          3735.1380
1            DRC01        5.920  ...  Supermarket Type2           443.4228
2            FDN15       17.500  ...  Supermarket Type1          2097.2700
3            FDX07       19.200  ...      Grocery Store           732.3800
4            NCD19        8.930  ...  Supermarket Type1           994.7052
5            FDP36       10.395  ...  Supermarket Type2           556.6088
6            FDO10       13.650  ...  Supermarket Type1           343.5528
7            FDP10          NaN  ...  Supermarket Type3          4022.7636
8            FDH17       16.200  ...  Supermarket Type1          1076.5986
9            FDU28       19.200  ...  Supermarket Type1          4710.5350
10           FDY07       11.800  ...  Supermarket Type1          1516.0266
11           FDA03       18.500  ...  Supermarket Type1          2187.1530
12           FDX32       15.100  ...  Supermarket Type1          1589.2646
13           FDS46       17.600  ...  Supermarket Type1          2145.2076
14           FDF32       16.350  ...  Supermarket Type1          1977.4260
15           FDP49        9.000  ...  Supermarket Type1          1547.3192
16           NCB42       11.800  ...  Supermarket Type2          1621.8888
17           FDP49        9.000  ...  Supermarket Type1           718.3982
18           DRI11          NaN  ...  Supermarket Type3          2303.6680
19           FDU02       13.350  ...  Supermarket Type1          2748.4224
20           FDN22       18.850  ...  Supermarket Type1          3775.0860
21           FDW12          NaN  ...  Supermarket Type3          4064.0432
22           NCB30       14.600  ...  Supermarket Type1          1587.2672
23           FDC37          NaN  ...      Grocery Store           214.3876
24           FDR28       13.850  ...  Supermarket Type1          4078.0250
25           NCD06       13.000  ...  Supermarket Type1           838.9080
26           FDV10        7.645  ...  Supermarket Type1          1065.2800
27           DRJ59       11.650  ...  Supermarket Type1           308.9312
28           FDE51        5.925  ...      Grocery Store           178.4344
29           FDC14          NaN  ...      Grocery Store           125.8362

[30 rows x 12 columns]

In [38]:
df.shape # 8524 rows and 12 columns

(8523, 12)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [40]:
# df.duplicated()

# Count duplicate on a column 
# df.duplicated().sum()

# # non-duplicates
# (~df.duplicated()).sum()

# duplicate rows
 
df.loc[df.duplicated(), : ].head() # No duplicates

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

In [41]:
# Any missing values?

# df.isnull().values.any()

# mising values

missing_values = ['NaN','na','--','n/a']

df = pd.read_csv(filename,na_values=missing_values)


df['Outlet_Size'].isnull()

# df['Item_Weight'].isnull()
# # df.isnull()

0       False
1       False
2       False
3        True
4       False
        ...
8518    False
8519     True
8520    False
8521    False
8522    False
Name: Outlet_Size, Length: 8523, dtype: bool

In [42]:
# sum of missing values

df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [43]:
# total number of missing values

df.isnull().sum().sum()

3873

In [44]:
# I use median given that some rows skew to high or low extremes

# Replace using median 
df['Outlet_Size'].fillna('Medium', inplace=True)
median = df.fillna(df.median(), inplace=True)

In [45]:
df.isnull().sum() # No missing values

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [46]:
# Looking for inconsistent categories of data
df.value_counts()

Item_Identifier  Item_Weight  Item_Fat_Content  Item_Visibility  Item_Type              Item_MRP  Outlet_Identifier  Outlet_Establishment_Year  Outlet_Size  Outlet_Location_Type  Outlet_Type        Item_Outlet_Sales
NCZ54            14.650       Low Fat           0.083699         Household              163.4552  OUT018             2009                       Medium       Tier 3                Supermarket Type2  2599.2832            1
FDJ27            17.700       Regular           0.122565         Meat                   103.8674  OUT017             2007                       Medium       Tier 2                Supermarket Type1  1528.0110            1
FDJ22            12.600       Low Fat           0.092464         Snack Foods            190.9504  OUT019             1985                       Small        Tier 1                Grocery Store      383.5008             1
                 18.750       Low Fat           0.052800         Snack Foods            193.2504  OUT035             2004                       Small        Tier 2                Supermarket Type1  2684.5056            1
                                                0.052917         Snack Foods            190.6504  OUT045             2002                       Medium       Tier 2                Supermarket Type1  1342.2528            1
                                                                                                                                                                                                                          ..
FDV32            7.785        LF                0.088888         Fruits and Vegetables  64.7510   OUT045             2002                       Medium       Tier 2                Supermarket Type1  1201.7690            1
                              Low Fat           0.088692         Fruits and Vegetables  61.8510   OUT035             2004                       Small        Tier 2                Supermarket Type1  1454.7730            1
                                                0.088846         Fruits and Vegetables  61.4510   OUT049             1999                       Medium       Tier 1                Supermarket Type1  759.0120             1
                                                0.089070         Fruits and Vegetables  62.7510   OUT018             2009                       Medium       Tier 3                Supermarket Type2  1707.7770            1
DRA12            11.600       LF                0.000000         Soft Drinks            141.9154  OUT035             2004                       Small        Tier 2                Supermarket Type1  992.7078             1
Length: 8523, dtype: int64

In [47]:
# replace the inconsistent categories
# Assumed that LS means low fat
replacement = {'low fat': 'Low Fat',
                'LF': 'Low Fat',
               'reg': 'Regular'
    

}

df['Item_Fat_Content'].replace(replacement)

df.value_counts()

Item_Identifier  Item_Weight  Item_Fat_Content  Item_Visibility  Item_Type              Item_MRP  Outlet_Identifier  Outlet_Establishment_Year  Outlet_Size  Outlet_Location_Type  Outlet_Type        Item_Outlet_Sales
NCZ54            14.650       Low Fat           0.083699         Household              163.4552  OUT018             2009                       Medium       Tier 3                Supermarket Type2  2599.2832            1
FDJ27            17.700       Regular           0.122565         Meat                   103.8674  OUT017             2007                       Medium       Tier 2                Supermarket Type1  1528.0110            1
FDJ22            12.600       Low Fat           0.092464         Snack Foods            190.9504  OUT019             1985                       Small        Tier 1                Grocery Store      383.5008             1
                 18.750       Low Fat           0.052800         Snack Foods            193.2504  OUT035             2004                       Small        Tier 2                Supermarket Type1  2684.5056            1
                                                0.052917         Snack Foods            190.6504  OUT045             2002                       Medium       Tier 2                Supermarket Type1  1342.2528            1
                                                                                                                                                                                                                          ..
FDV32            7.785        LF                0.088888         Fruits and Vegetables  64.7510   OUT045             2002                       Medium       Tier 2                Supermarket Type1  1201.7690            1
                              Low Fat           0.088692         Fruits and Vegetables  61.8510   OUT035             2004                       Small        Tier 2                Supermarket Type1  1454.7730            1
                                                0.088846         Fruits and Vegetables  61.4510   OUT049             1999                       Medium       Tier 1                Supermarket Type1  759.0120             1
                                                0.089070         Fruits and Vegetables  62.7510   OUT018             2009                       Medium       Tier 3                Supermarket Type2  1707.7770            1
DRA12            11.600       LF                0.000000         Soft Drinks            141.9154  OUT035             2004                       Small        Tier 2                Supermarket Type1  992.7078             1
Length: 8523, dtype: int64

In [49]:
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [74]:
# Statistics for numerical columns

x = df[['Item_Weight','Item_Visibility','Item_MRP','Outlet_Establishment_Year','Item_Outlet_Sales']]

x.describe().loc[['min','max','mean']]

      Item_Weight  ...  Item_Outlet_Sales
min       4.55500  ...          33.290000
max      21.35000  ...       13086.964800
mean     12.81342  ...        2181.288914

[3 rows x 5 columns]

NameError: ignored